[Desktop Entry]
Categories=GTK;Utility;Archiving;
Comment=Open and extract XMI, AWS and HET files
Exec=./xmission.py %f
GenericName=XMIssion
Icon=xmission.png
Keywords=archive;manager;
MimeType=application/x-xmi;
Name=XMIssion XMI/AWS/HET File Manager
Path=/tmp
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

